<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Enter your name</title>
</head>
<body>
<form action="/submit" method="post">
    <label for="username">Enter your name:</label>
    <input type="text" id="username" name="username"/>
    <br/>

    <label for="age">Enter your age:</label>
    <input type="text" id="age" name="age"/>
    <br/>

    <button type="submit">Submit</button>
</form>
</body>
</html>