<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Partials</title>
</head>
<body>

    {{#buttons}}
        <!--버튼생성-->
        <!--<button class="my-cool-button">{{!.}}</button>-->
        {{>mybutton}}
    {{/buttons}}

</body>
</html>